.black{
    background-color: black;
    color: white;
}

.yellow {
    background-color: rgb(231, 231, 28);
}

.black, .yellow{
    font-size: 28px;
    font-family: Helvetica, Times new 'Times New Roman', sans-serif;
}